[submodule "www/client/src/components/react-piano-keyboard"]
	path = www/client/src/components/react-piano-keyboard
	url = https://github.com/NHuffschmid/react-piano-keyboard
[submodule "www/client/src/modules/midi2musicxml"]
	path = www/client/src/modules/midi2musicxml
	url = https://github.com/NHuffschmid/midi2musicxml.git
